section#block-block-3 {
    margin-bottom: 0;
}

section#block-block-3 div.block-inner {
    margin: 0;
}

/* Standard layout */
@media only screen and (min-width:1025px) {

/* =============================================================================
 *   IIT Global Footer
 * ========================================================================== */

#iit-gf-wrapper {
    border-top: 6px solid #c00;
    background-color: #444;
    min-height: 250px;
}

#iit-gf-container {
    position: relative;
}

#iit-gf-footer #iit-gf-branding-wrapper a {
    display: block;
    float: left;
    width: 275px;
    margin: 2em 0 0 10px;
}

#iit-gf-footer address {
    float: left;
    margin-left: 2.8em;
    color: #ddd;
    margin-top: 2em;
    font-size: .875em;
    text-shadow: -1px -1px 1px #000;
}

#iit-gf-footer #iit-gf-social-icons {
    position: absolute;
    right: 10px;
    top: 2em;
}

#iit-gf-footer #iit-gf-social-icons ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#iit-gf-footer #iit-gf-social-icons li {
    float: left;
    margin-left: 10px;
}

#iit-gf-footer #iit-gf-social-icons a {
    display: block;
    width: 32px;
}
#iit-gf-footer #iit-gf-social-icons a img {
    display: block;
}

#iit-gf-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 75px;
}

#iit-gf-links li {
    text-align: right;
    line-height: 1.1em;
}

#iit-gf-links a {
    color: white;
    font-size: .75em;
    line-height: 1em;
    color: #ddd;
    text-shadow: -1px -1px 1px #000;
}
/* end IIT Global Footer ==================================================== */




} /* end Standard Layout */






/* Tablet landscape */
@media only screen and (min-width:800px) and (max-width:1024px) {

/* =============================================================================
 *   IIT Global Footer
 * ========================================================================== */

#iit-gf-wrapper {
    border-top: 6px solid #c00;
    background-color: #444;
    min-height: 250px;
}

#iit-gf-container {
    position: relative;
}

#iit-gf-footer #iit-gf-branding-wrapper a {
    display: block;
    float: left;
    width: 275px;
    margin: 2em 0 0 10px;
}

#iit-gf-footer address {
    float: left;
    margin-left: 2.8em;
    color: #ddd;
    margin-top: 2em;
    font-size: .875em;
    text-shadow: -1px -1px 1px #000;
}

#iit-gf-footer #iit-gf-social-icons {
    position: absolute;
    right: 10px;
    top: 2em;
}

#iit-gf-footer #iit-gf-social-icons ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#iit-gf-footer #iit-gf-social-icons li {
    float: left;
    margin-left: 10px;
}

#iit-gf-footer #iit-gf-social-icons a {
    display: block;
    width: 32px;
}
#iit-gf-footer #iit-gf-social-icons a img {
    display: block;
}

#iit-gf-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 75px;
}

#iit-gf-links li {
    text-align: right;
    line-height: 1.1em;
}

#iit-gf-links a {
    color: white;
    font-size: .75em;
    line-height: 1em;
    color: #ddd;
    text-shadow: -1px -1px 1px #000;
}
/* end IIT Global Footer ==================================================== */
    

} /* end Tablet landscape */






/* Tablet portrait */
@media only screen and (min-width:600px) and (max-width:799px) {

/* =============================================================================
 *   IIT Global Footer
 * ========================================================================== */

#iit-gf-wrapper {
    border-top: 6px solid #c00;
    background-color: #444;
    min-height: 250px;
}

#iit-gf-container {
    position: relative;
}

#iit-gf-branding-wrapper {
    margin-top: 1.7em;
    float: left;
    position: relative;
    left: 50%;
}

#iit-gf-footer #iit-gf-branding-wrapper a {
    display: block;
    float: left;
    width: 275px;
    position: relative;
    right: 50%;
}

#iit-gf-footer address {
    color: #ddd;
    font-size: .875em;
    text-shadow: -1px -1px 1px #000;
    float: left;
    margin-left: 2.5em;
    position: relative;
    right: 50%;
}

#iit-gf-footer #iit-gf-social-icons {
    float: left;
    width: 100%;
    margin-top: 30px;
    overflow: hidden;
}

#iit-gf-footer #iit-gf-social-icons ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    left: 50%;
}

#iit-gf-footer #iit-gf-social-icons li {
    float: left;
    margin-left: 10px;
    position: relative;
    right: 50%;
}

#iit-gf-footer #iit-gf-social-icons a {
    display: block;
    width: 32px;
}
#iit-gf-footer #iit-gf-social-icons a img {
    display: block;
}

#iit-gf-links {
    float: left;
    width: 100%;
    margin: 20px 0;
    overflow: hidden;
}

#iit-gf-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    left: 50%;
}

#iit-gf-links li {
    line-height: 1.1em;
    float: left;
    position: relative;
    right: 50%;
    padding: 0 6px;
    border-left: 1px solid #ddd;
}

#iit-gf-links li:first-child {
    border-left: 0;
}

#iit-gf-links a {
    color: white;
    font-size: .75em;
    line-height: 1em;
    color: #ddd;
    text-shadow: -1px -1px 1px #000;
    display: block;
    padding: 4px 0;
}

/* end IIT Global Footer ==================================================== */

} /* end Tablet portrait */





/* Smartphone landscape */
@media only screen and (min-width:400px) and (max-width:599px) {

/* =============================================================================
 *   IIT Global Footer
 * ========================================================================== */

#iit-gf-wrapper {
    border-top: 6px solid #c00;
    background-color: #444;
    min-height: 250px;
}

#iit-gf-container {
    position: relative;
}

#iit-gf-branding-wrapper {
    margin-top: 1.3em;
}

#iit-gf-footer #iit-gf-branding-wrapper a {
    display: block;
    width: 275px;
    margin: 0 auto;
}

#iit-gf-footer address {
    color: #ddd;
    font-size: 1em;
    text-shadow: -1px -1px 1px #000;
    margin: 15px 0 0;
    text-align: center;
}

#iit-gf-footer #iit-gf-social-icons {
    float: left;
    width: 100%;
    margin-top: 30px;
    overflow: hidden;
}

#iit-gf-footer #iit-gf-social-icons ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    left: 50%;
}

#iit-gf-footer #iit-gf-social-icons li {
    float: left;
    margin-left: 10px;
    position: relative;
    right: 50%;
}

#iit-gf-footer #iit-gf-social-icons a {
    display: block;
    width: 32px;
}
#iit-gf-footer #iit-gf-social-icons a img {
    display: block;
}

#iit-gf-links {
    float: left;
    width: 100%;
    margin: 20px 0;
    overflow: hidden;
}

#iit-gf-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    left: 50%;
}

#iit-gf-links li {
    line-height: 1.1em;
    float: left;
    position: relative;
    right: 50%;
    padding: 0 6px;
    border-left: 1px solid #ddd;
}

#iit-gf-links li:first-child {
    border-left: 0;
}

#iit-gf-links a {
    color: white;
    font-size: .813em;
    line-height: 1em;
    color: #ddd;
    text-shadow: -1px -1px 1px #000;
    display: block;
    padding: 4px 0;
}

/* end IIT Global Footer ==================================================== */


} /* end Smartphone landscape */




/* Smartphone portrait */
@media only screen and (max-width:399px) {

/* =============================================================================
 *   IIT Global Footer
 * ========================================================================== */

#iit-gf-wrapper {
    border-top: 6px solid #c00;
    background-color: #444;
    min-height: 250px;
}

#iit-gf-container {
    position: relative;
}

#iit-gf-branding-wrapper {
    margin-top: 1.3em;
}

#iit-gf-footer #iit-gf-branding-wrapper a {
    display: block;
    width: 275px;
    margin: 0 auto;
}

#iit-gf-footer address {
    color: #ddd;
    font-size: .938em;
    text-shadow: -1px -1px 1px #000;
    margin: 15px 0 0;
    text-align: center;
}

#iit-gf-footer #iit-gf-social-icons {
    float: left;
    width: 100%;
    margin-top: 30px;
    overflow: hidden;
}

#iit-gf-footer #iit-gf-social-icons ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    left: 50%;
}

#iit-gf-footer #iit-gf-social-icons li {
    float: left;
    margin-left: 10px;
    position: relative;
    right: 50%;
}

#iit-gf-footer #iit-gf-social-icons a {
    display: block;
    width: 32px;
}
#iit-gf-footer #iit-gf-social-icons a img {
    display: block;
}

#iit-gf-links {
    float: left;
    width: 100%;
    margin: 20px 0;
    overflow: hidden;
}

#iit-gf-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#iit-gf-links li {
    line-height: 1.3em;
    text-align: center;
}

#iit-gf-links a {
    color: white;
    font-size: .813em;
    line-height: 1.3em;
    color: #ddd;
    text-shadow: -1px -1px 1px #000;
    display: block;
    padding: 4px 0;
}

/* end IIT Global Footer ==================================================== */

} /* end Smartphone portrait */