/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the default font size on small devices */
/*
html {
  font-size: 112.5%;
}
*/

/* =============================================================================
 *   Standard Elements
 * ========================================================================== */

h1 {
	font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

/* end Standard Elements ==================================================== */


/* =============================================================================
 *   Undergraduate & Graduate Admission Header
 * ========================================================================== */
#iit-undergraduate-admission-branding, 
#iit-graduate-admission-branding {
  height: 3.25em;
}

#iit-undergraduate-admission-branding h2 {
  font-size: 1.8em;
}

#iit-graduate-admission-branding h2 {
  font-size: 1.8em;
}
/* end Undergraduate & Graduate Admission Header ============================= */


/* =============================================================================
 *   Undergraduate Admission Department Main Menu
 * ========================================================================== */

.region-header #block-menu-menu-undergraduate .block-content ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;
  width: 100%;
}

.region-header #block-menu-menu-undergraduate .block-content ul li {
  float: left;
  list-style-type: none;
  list-style-image: none;
}

.region-header #block-menu-menu-undergraduate .block-content ul li a {
  padding: .2em 1em;
  display: block;
  color: #666;
  text-decoration: none;
  outline: none;
  font-size: .875em;
}

.region-header #block-menu-menu-undergraduate .block-content ul li a:hover {
  background-color: #ccc;
  color: #fff;
}

.region-header #block-menu-menu-undergraduate .block-content ul li a.active-trail {
  background-color: #f90;
  color: #fff;
  font-weight: bold;
}

/* end Undergraduate Admission Department Main Menu ========================= */


/* =============================================================================
 *   Graduate Admission Department Main Menu
 * ========================================================================== */

.region-header #block-menu-menu-graduate .block-content ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;
  width: 100%;
}

.region-header #block-menu-menu-graduate .block-content ul li {
  float: left;
  list-style-type: none;
  list-style-image: none;
}

.region-header #block-menu-menu-graduate .block-content ul li a {
  padding: .2em 1em;
  display: block;
  color: #666;
  text-decoration: none;
  outline: none;
  font-size: .875em;
}

.region-header #block-menu-menu-graduate .block-content ul li a:hover {
  background-color: #ccc;
  color: #fff;
}

.region-header #block-menu-menu-graduate .block-content ul li a.active-trail {
  background-color: #9b0000;
  color: #fff;
  font-weight: bold;
}

/* end Graduate Admission Department Main Menu ========================= */


/* =============================================================================
 *   Columns Main Content Area
 * ========================================================================== */


/* end Columns Main Content Area ============================================ */


/* =============================================================================
 *   Sidebar 2 Area
 * ========================================================================== */

.region-sidebar-second section.block {
	background-color: #eaeaea;
}

.region-sidebar-second nav.block-menu-block {
  background-color: #FFFAE0;
}

.region-sidebar-second section div.block-inner h2 {
  color: #000;
}

.region-sidebar-second section#block-block-1 {
	display: none;
}

/* end Sidebar 2 Area ======================================================= */

/* =============================================================================
 *   Footer Area
 * ========================================================================== */

#footer-wrapper {
	border-top: 3px solid #444;
	background-color: #e9e9e9;
}

#footer-wrapper #block-block-4, #footer-wrapper #block-block-6 {
	margin-bottom: 4px;
	text-align: center;
}

#footer-wrapper h5 {
	font-size: 1.25em;
	margin: 6px 0 0 0;
}

#footer-wrapper p {
	font-size: .813em;
	margin: 0 0 .8em;
}

/* end Footer Area ======================================================= */
