/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the body font size on small devices */
/*
html {
  font-size: 81.3%;
}
*/

/* =============================================================================
 *   Standard Elements
 * ========================================================================== */

h1 {
	font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

/* end Standard Elements ==================================================== */


/* =============================================================================
 *   Undergraduate Admission Header
 * ========================================================================== */

#iit-undergraduate-admission-branding h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
  color: #888;
  text-transform: uppercase;
  font-size: 2.5em;
  margin: 0.4em 0 0.2em 0.15em;
}

#iit-undergraduate-admission-branding h2 span {
  color: #FF9900;
}

#iit-undergraduate-admission-branding a {
  color: #888;
  text-decoration: none;
}

#header {
  border-bottom: 1px solid #bbb;
}

/* end Undergraduate Admission Header ======================================= */


/* =============================================================================
 *   Graduate Admission Header
 * ========================================================================== */

#iit-graduate-admission-branding h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
  color: #888;
  text-transform: uppercase;
  font-size: 2.5em;
  margin: 0.4em 0 0.2em 0.15em;
}

#iit-graduate-admission-branding h2 span {
  color: #9b0000;
}

#iit-graduate-admission-branding a {
  color: #888;
  text-decoration: none;
}

#header {
  border-bottom: 1px solid #bbb;
}

/* end Graduate Admission Header ======================================= */


/* =============================================================================
 *   Undergraduate Admission Department Main Menu
 * ========================================================================== */

.region-header #block-menu-menu-undergraduate .block-content ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;
  width: 100%;
  position: relative;
  background-color: #f90;
  text-transform: uppercase;
}

.region-header #block-menu-menu-undergraduate .block-content ul li {
  float: left;
  list-style-type: none;
  list-style-image: none;
}

.region-header #block-menu-menu-undergraduate .block-content ul li a {
  padding: .2em 1em;
  display: block;
  color: #fff;
  text-decoration: none;
  outline: none;
  font-size: .813em;
}

.region-header #block-menu-menu-undergraduate .block-content ul li a:hover {
  background-color: #aaa;
}
.region-header #block-menu-menu-undergraduate .block-content ul li a.active-trail {
  background-color: #ccc;
  color: #000;
}

/* end Undergraduate Admission Department Main Menu ========================= */


/* =============================================================================
 *   Graduate Admission Department Main Menu
 * ========================================================================== */

.region-header #block-menu-menu-graduate .block-content ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;
  width: 100%;
  position: relative;
  background-color: #9b0000;
  text-transform: uppercase;
}

.region-header #block-menu-menu-graduate .block-content ul li {
  float: left;
  list-style-type: none;
  list-style-image: none;
}

.region-header #block-menu-menu-graduate .block-content ul li a {
  padding: .2em 1em;
  display: block;
  color: #fff;
  text-decoration: none;
  outline: none;
  font-size: .813em;
}

.region-header #block-menu-menu-graduate .block-content ul li a:hover {
  background-color: #aaa;
}
.region-header #block-menu-menu-graduate .block-content ul li a.active-trail {
  background-color: #ccc;
  color: #000;
}

/* end Graduate Admission Department Main Menu ========================= */


/* =============================================================================
 *   Columns Main Content Area
 * ========================================================================== */


/* end Columns Main Content Area ============================================ */


/* =============================================================================
 *   Sidebar 2 Area
 * ========================================================================== */

.region-sidebar-second section.block {
	background-color: #eaeaea;
}

.region-sidebar-second nav.block-menu-block {
  background-color: #FFFAE0;
}

.region-sidebar-second section div.block-inner h2 {
  color: #000;
}

.region-sidebar-second section#block-block-1 {
  padding-bottom: 10px;
}

/* end Sidebar 2 Area ======================================================= */


/* =============================================================================
 *   Footer Area
 * ========================================================================== */

#footer-wrapper {
	border-top: 3px solid #444;
	background-color: #e9e9e9;
}

#footer-wrapper #block-block-4, #footer-wrapper #block-block-6 {
	margin-bottom: 4px;
	text-align: center;
}

#footer-wrapper h5 {
	font-size: 1.313em;
	margin: 6px 0 0 0;
}

#footer-wrapper p {
	font-size: .875em;
	margin: 0 0 .8em;
}

/* end Footer Area ======================================================= */