/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete 
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

.sidebar-second .content-inner {
  margin-right: 32%;
}

/* =============================================================================
 *   Standard Elements
 * ========================================================================== */

h1 {
	font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

/* end Standard Elements ==================================================== */


/* =============================================================================
 *   Undergraduate Admission Header
 * ========================================================================== */

#iit-undergraduate-admission-branding h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
  color: #888;
  text-transform: uppercase;
  font-size: 2.5em;
  margin: 0.4em 0 0.2em 0.15em;
}

#iit-undergraduate-admission-branding h2 span {
  color: #FF9900;
}

#iit-undergraduate-admission-branding a {
  color: #888;
  text-decoration: none;
}

#header {
  border-bottom: 1px solid #bbb;
  padding-bottom: 2em;
}

/* end Undergraduate Admission Header ======================================= */


/* =============================================================================
 *   Graduate Admission Header
 * ========================================================================== */

#iit-graduate-admission-branding h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
  color: #888;
  text-transform: uppercase;
  font-size: 2.5em;
  margin: 0.4em 0 0.2em 0.15em;
}

#iit-graduate-admission-branding h2 span {
  color: #9b0000;
}

#iit-graduate-admission-branding a {
  color: #888;
  text-decoration: none;
}

#header {
  border-bottom: 1px solid #bbb;
  padding-bottom: 2em;
}

/* end Graduate Admission Header ======================================= */


/* =============================================================================
 *   Undergraduate Admission Section Menu
 * ========================================================================== */

.region-header #block-menu-menu-undergraduate .block-content ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;
  width: 100%;
  position: relative;
  background-color: #888;
}

.region-header #block-menu-menu-undergraduate .block-content ul li {
  float: left;
  list-style-type: none;
  list-style-image: none;
}

.region-header #block-menu-menu-undergraduate .block-content ul li a {
  padding: .4em 1.2em;
  display: block;
  color: #fff;
  text-decoration: none;
  outline: none;
  font-size: .938em;
}

.region-header #block-menu-menu-undergraduate .block-content ul li a:hover {
  background-color: #aaa;
}
.region-header #block-menu-menu-undergraduate .block-content ul li a.active-trail {
  background-color: #ccc;
  color: #000;
}

.region-header #block-menu-menu-undergraduate .block-content ul li ul {
  position: absolute;
  left: 0;
  top: 2.8em;
  background-color: transparent;
}

.region-header #block-menu-menu-undergraduate .block-content ul li ul li {
  padding: .4em .7em;
}

.region-header #block-menu-menu-undergraduate .block-content ul li ul li a {
  color: #888;
  padding: 0;
}

.region-header #block-menu-menu-undergraduate .block-content ul li ul li a:hover {
  background-color: transparent;
  text-decoration: underline;
}

.region-header #block-menu-menu-undergraduate .block-content ul li ul li a.active-trail {
  background-color: transparent;
  color: #c00;
}


/* end Undergraduate Admission Section Menu ======================================== */

/* =============================================================================
 *   Sidebar 2 Area
 * ========================================================================== */

.region-sidebar-second section.block {
    background-color: #eaeaea;
    padding: 16px;
}

.region-sidebar-second section div.block-inner {
  margin: 0;
}

.region-sidebar-second section div.block-inner h2 {
  margin: 0 0 .5em;
  line-height: 1em;
}

/* Facebook Like Box */
.fb-like-box, 
.fb-like-box > span,
.fb-like-box > span iframe {
    width: 100% !important;
    background-color: #fff;
}

.region-sidebar-second #block-block-5 .block-inner {
    margin: 0;
}

/* end Sidebar 2 Area ======================================================= */

/* =============================================================================
 *   Footer Area
 * ========================================================================== */

#footer-wrapper {
	border-top: 3px solid #444;
	background-color: #e9e9e9;
}

#footer-wrapper #block-block-4, #footer-wrapper #block-block-6 {
	margin-bottom: 4px;
}

#footer-wrapper h5 {
	font-size: 1.313em;
	margin: 6px 0 0 0;
}

#footer-wrapper p {
	font-size: .813em;
	margin: 0 0 .8em;
}

/* end Footer Area ======================================================= */