/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the body font size on small devices */
/*
html {
  font-size: 81.3%;
}
*/

#media-check {
  /* used for testing media query in js */
  font-family: 'tablet_portrait';
}

/* Page Header Region */
#header-wrapper {
  margin-bottom: 2em;
}
/* end Page Header Region */

/* Page Header */
#header .iit-page-header h2 {
  font-size: 2.125em;
  padding: 1em 0 0;
}
/* end Page Header */

/* header menu */
#header .block-menu ul {
	float: left;
	width: 100%;
}

#header .block-menu .block-content ul li {
	float: left;
}
/* end header menu */

/* Department Footer */
#footer #iit-department-footer {
  margin-bottom: 4px;
  text-align: center;
}

#footer #iit-department-footer h5 {
  font-size: 1.313em;
  margin: 6px 0 0 0;
}
/* end Department Footer */