/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the body font size on small devices */
/*
html {
  font-size: 112.5%;
}
*/

#media-check {
  /* used for testing media query in js */
  font-family: 'smartphone_landscape';
}

/* header menu */
#header .block-menu {
  border-top: 1px solid #888;
}
/* end header menu */

/* Department Footer */
#footer #iit-department-footer {
  text-align: center;
  margin-bottom: 4px;
}

#footer #iit-department-footer h5 {
  font-size: 1.313em;
  margin: 6px 0 0 0;
}
/* end Department Footer */