/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the default font size on small devices */
/*
html {
  font-size: 112.5%;
}
*/

#media-check {
  /* used for testing media query in js */
  font-family: 'smartphone_portrait';
}

/* header menu */
#header .block-menu {
  border-top: 1px solid #888;
}
/* end header menu */

/* Page main content region and sidebar margins */
#main-content {
  margin-left: 0.75em;
  margin-right: 0.75em;
}
/* end Page main content region */

/* Department Footer */
#footer #iit-department-footer {
  text-align: center;
  margin-bottom: 4px;
}

#footer #iit-department-footer h5 {
  font-size: 1.25em;
  margin: 6px 0 0 0;
}
/* end Department Footer */

/* news overview teaser Styles */
.view-id-news .field-name-field-image {
    display: none;
}
/* end news overview teaser Styles */

/* stuart homepage */
#content .panel-flexible.stuart-home .stuart-home-row.home-row-1 {
  display: none;
}

#content .panel-flexible.stuart-home .stuart-home-row.home-row-2 .stuart-home-region {
  display: block;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

#content .panel-flexible.stuart-home .stuart-home-row.home-row-2 .ranking-logos img {
  width: 25% !important;
  height: auto !important;
}
/* end stuart homepage */

/* Header Contact Buttons */
#iit-stuart-header-buttons {
  position: static;
  overflow: hidden;
}

#iit-stuart-header-buttons ul li {
    float: left;
    margin-left: 2%;
    width: 49%
}

#iit-stuart-header-buttons ul li:first-child {
    margin-left: 0;
}

#iit-stuart-header-buttons a {
    width: 100%;
    padding: 0.4375em 0;
}
/* end Header Contact Buttons */