/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the body font size on small devices */
/*
html {
  font-size: 81.3%;
}
*/

#media-check {
  /* used for testing media query in js */
  font-family: 'tablet_portrait';
}

/* Page Header Region */
#header-wrapper {
  margin-bottom: 2em;
}
/* end Page Header Region */

/* Page Header */
#header .iit-page-header h2 {
  font-size: 2.125em;
  padding: 1em 0 0.117647em;
}
/* end Page Header */

/* header menu */
#header .block-menu ul {
	float: left;
	width: 100%;
}

#header .block-menu .block-content ul li {
	float: left;
}
/* end header menu */

/* Page main content region and sidebar margins */
#main-content {
  margin-left: 0.75em;
  margin-right: 0.75em;
}

div.region-sidebar-second .block {
  width: inherit;
}
/* end Page main content region */

/* Department Footer */
#footer #iit-department-footer {
  margin-bottom: 4px;
  text-align: center;
}

#footer #iit-department-footer h5 {
  font-size: 1.313em;
  margin: 6px 0 0 0;
}
/* end Department Footer */

/* faculty directory view */
.view-faculty .views-row {
    border-bottom: 0;
    padding: 0.25em 0;
}

.view-faculty .views-field-nothing {
  float:left;
  width:35%;
}

.view-faculty .views-field-field-title {
  float: left;
  width: 65%;
  padding-top: 0.538461538em;
}
/* end faculty directory view */

/* full faculty bio view */
.node-faculty .two-brick > .panel-row > .region-two-brick-right-above {
  width: 71%;
}

.node-faculty .two-brick > .panel-row > .region-two-brick-left-above {
  width: 26%;
  margin-right: 3%;
}
/* end full faculty bio view */

/* stuart homepage */
#content .panel-flexible.stuart-home .stuart-home-row.home-row-2 .stuart-home-region-stuart-home-1_1 {
  display: block;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

#content .panel-flexible.stuart-home .stuart-home-row.home-row-2 .stuart-home-region-stuart-home-1_2 {
  margin-left: 0;
  width: 49.10394265233%;
}

#content .panel-flexible.stuart-home .stuart-home-row.home-row-2 .stuart-home-region-stuart-home-1_3 {
  width: 49.10394265233%;
}
/* end stuart homepage */


/* Sidebar Icon Links */
#block-block-6,
#block-block-7,
#block-block-8,
#block-block-9,
#block-block-10,
#block-block-11,
#block-block-14 {
    margin-left: 10px;
    margin-right: 10px;
}
/* end Sidebar Icon Links */





