/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the default font size on small devices */
/*
html {
  font-size: 112.5%;
}
*/

#media-check {
  /* used for testing media query in js */
  font-family: 'smartphone_portrait';
}


/* Department Footer */
#footer #iit-department-footer {
  text-align: center;
  margin-bottom: 4px;
}

#footer #iit-department-footer h5 {
  font-size: 1.25em;
  margin: 6px 0 0 0;
}
/* end Department Footer */


/* Department Headers */
#department-header-wrapper #department-nav #cos-link,
#department-header-wrapper #department-nav-solo #cos-link {
	display: none;
}

#department-header-wrapper #department-nav ul li,
#department-header-wrapper #department-nav-solo ul li {
  margin: 0.5em 0;
}

#department-header-wrapper #department-nav a,
#department-header-wrapper #department-nav-solo a {
  padding: 0.5em;
}
/* end Department Headers */