/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete 
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

#media-check {
  /* used for testing media query in js */
  font-family: 'tablet_landscape';
}


/* Department Footer */
#footer #iit-department-footer {
  margin-bottom: 4px;
}

#footer #iit-department-footer h5 {
  font-size: 1.313em;
  margin: 6px 0 0 0;
}

#footer #iit-department-footer .social-icons {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 6px;
}
/* end Department Footer */


/* Department Headers */

/* College of Science */
#department-header-wrapper #department-nav ul {
    text-align: justify;
    font-size: 0.1px;
}

#department-header-wrapper #department-nav ul:after {
    content: "";
    width: 100%;
    display: inline-block;
}

#department-header-wrapper #department-nav ul li {
    position: relative;
    display: inline-block;
    width: 13%;
    height: 0;
    padding-top: 13%;
    vertical-align: top;
    text-align: left;
    font-size: 16px;
}

#department-header-wrapper #department-nav ul li a {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
    font-size: 15px;
    line-height: 1.1em;
}

#department-header-wrapper #department-nav ul li a span {
	position: absolute;
	right: 0;
    bottom: 4px;
    left: 4px;
}

/* Deparment Specific Header */
#department-header-wrapper #department-nav-solo ul {
    text-align: justify;
    font-size: 0.1px;
}

#department-header-wrapper #department-nav-solo ul:after {
    content: "";
    width: 100%;
    display: inline-block;
}

#department-header-wrapper #department-nav-solo ul li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    font-size: 16px;
}

#department-header-wrapper #department-nav-solo ul li {
    width: 85.5%;
    height: 0;
    padding-top: 13%;
}

#department-header-wrapper #department-nav-solo ul li:first-child {
    width: 13%;
    height: 0;
    padding-top: 13%;
}

#department-header-wrapper #department-nav-solo ul li a {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
    font-size: 15px;
    line-height: 1.1em;
}

#department-header-wrapper #department-nav-solo ul li a span {
	position: absolute;
	right: 0;
    bottom: 4px;
    left: 4px;
}

#department-header-wrapper #department-nav-solo ul li a.cos-dept-nav-block {
    font-size: 27px;
}

.no-touch #department-header-wrapper #department-nav-solo ul li a#am-link:hover {
    color: #fff;
    background-color: #e6c099;
}
/* end Department Headers */