/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the body font size on small devices */
/*
html {
  font-size: 112.5%;
}
*/

#media-check {
  /* used for testing media query in js */
  font-family: 'smartphone_landscape';
}


/* Department Footer */
#footer #iit-department-footer {
  text-align: center;
  margin-bottom: 4px;
}

#footer #iit-department-footer h5 {
  font-size: 1.313em;
  margin: 6px 0 0 0;
}

#footer #iit-department-footer p {
  text-align: center;
}
/* end Department Footer */


/* Department Headers */
#department-header-wrapper #department-nav #cos-link,
#department-header-wrapper #department-nav-solo #cos-link {
	display: none;
}

#department-header-wrapper #department-nav ul li,
#department-header-wrapper #department-nav-solo ul li {
  margin: 0.5em 0;
}

#department-header-wrapper #department-nav a,
#department-header-wrapper #department-nav-solo a {
  padding: 0.5em;
}

/* Department Header Buttons */
#department-header-wrapper #department-buttons {
    margin: 1em 0 0 0;
}

#department-header-wrapper #department-buttons ul {
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    background-image: url('images/background.png');
}

#department-header-wrapper #department-buttons ul li {
    float: none;
    margin: 0.25em 0;
}

#department-header-wrapper #department-buttons ul li a,
.science#department-header-wrapper #department-buttons ul li a,
.am#department-header-wrapper #department-buttons ul li a,
.bio#department-header-wrapper #department-buttons ul li a,
.chem#department-header-wrapper #department-buttons ul li a,
.cs#department-header-wrapper #department-buttons ul li a ,
.mse#department-header-wrapper #department-buttons ul li a,
.phy#department-header-wrapper #department-buttons ul li a   {
    text-align: left;
    color: #666;
    font-size: 16px;
    background: none;
}

.no-touch #department-header-wrapper #department-buttons ul li a:hover {
    color: #fff;
    background-color: #666;
}

.js #department-header-wrapper #department-buttons ul {
    display: none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  #department-header-wrapper #department-buttons ul {
    background: url("images/background@2x.png");
    background-size: 7px;
  }
}

.js #department-header-wrapper #department-buttons #button-menu-button {
  display: block;
}

#department-header-wrapper #department-buttons #button-menu-button { 
  padding: 0;
  background-color: #666;
  text-transform: uppercase;
  font-family: 'oswald', sans-serif;
  font-weight: 400;
  color: #fff;
    cursor: pointer;
    overflow: hidden;
}

#department-header-wrapper #department-buttons #button-menu-button .icon {
    background-image: url('images/menu-button-sqwht.svg');
    background-size: 1.875em 1.875em;
    width: 1.875em;
    height: 1.875em;
    margin: 0.4375em 0 0.4375em 0.4375em;
    float: left;
}

.no-svg #department-header-wrapper #department-buttons #button-menu-button .icon {
    background-image: url('images/menu-button-sqwht.png');
}

#department-header-wrapper #department-buttons #button-menu-button span {
    line-height: 2.75em;
    padding: 0 0.5em;
}
/* end Department Header Buttons */
/* end Department Headers */


/* College of Science Homepage */
/* Homepage Hero Block Region */
#content .panel-flexible.science-home .science-home-row.home-row-1 {
  display: none;
}
/* end Homepage Hero Block Region */

/* Row 2 */
#content .panel-flexible.science-home .home-row-2 .science-home-region-science-home-region_2_1 {
    display: block;
    width: 49.107142857143%;
    margin-right: 0.892857142857%;
}

#content .panel-flexible.science-home .home-row-2 .science-home-region-science-home-region_2_2 {
    display: block;
    width: 49.107142857143%;
    margin-left: 0.892857142857%;
    margin-right: 0;
}

#content .panel-flexible.science-home .home-row-2 .science-home-region-science-home-region_2_3 {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px
}
/* end Row 2 */

/* Row 3 */
#content .panel-flexible.science-home .science-home-row.home-row-3 .science-home-region {
	display: block;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}
/* end Row 3 */
/* end College of Science Homepage */


/* Department Homepages */
/* Homepage Hero Block Region */
#content .panel-flexible.dept-home .home-row-1 .dept-home-region-dept-home-dept_hero_left {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

#content .panel-flexible.dept-home .home-row-1 .dept-home-region-dept-home-dept_hero_right {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
/* end Homepage Hero Block Region */

/* Row 2 */
#content .panel-flexible.dept-home .home-row-2 .dept-home-region-dept-home-region_2_1 {
    display: block;
    width: 49.107142857143%;
    margin-right: 0.892857142857%;
}

#content .panel-flexible.dept-home .home-row-2 .dept-home-region-dept-home-region_2_2 {
    display: block;
    width: 49.107142857143%;
    margin-left: 0.892857142857%;
    margin-right: 0;
}

#content .panel-flexible.dept-home .home-row-2 .dept-home-region-dept-home-region_2_3 {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px
}
/* end Row 2 */

/* Row 3 */
#content .panel-flexible.dept-home .dept-home-row.home-row-3 .dept-home-region {
	display: block;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}
/* end Row 3 */
/* end College of Science Homepage */


/* news - department listing  */
#main-content .news-block img {
    margin-left: 0;
    margin-right: 0;
}

.news-block .views-row-odd, 
.news-block .views-row-even {
    border-bottom: 1px dashed #666;
    padding: .25em 0 2.25em 0;
    margin: 1em;
}

.news-block .views-field-title {
    font-size: .8em;
}

.news-block .views-field-body {
    font-size: .9em
}

.news-block .views-field-view-node {
    float: right;
}
/* end news - department listing */